.App {
  text-align: center;
}

.App .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .App-link {
  color: #aaddf8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root {
  min-height: 100vh;
}

.submit {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root.login-background::before {
  content: "";
  background-image: url("https://github.com/mak48/data_for_project/blob/main/background.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#root.rating-background::before {
  content: "";
  background-image: url("https://github.com/mak48/data_for_project/blob/main/dots_background.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  margin: 0;
}
/* УДАЛИТЕ ЭТИ ГЛОБАЛЬНЫЕ СТИЛИ */
/*
html,
body,
#root {
  min-height: 100vh;
}

body::before {
  content: "";
  background-color: #d4f0ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.app-container {
  position: relative;
  z-index: 0;
}

.app-container > * {
  position: relative;
  z-index: 1;
}
*/
